</main>

<footer class="row w-100 m-0 mt-auto">
    <div class="col bg-dark">
        <div class="container p-3">
            <div class="row justify-content-end">
                <div class="col-md-4">
                    <span class="float-end" style="color: gray">© ООО "NillKiggers LTD" 2012-2022</span>
                    <p>Весь этот сайт представлен исключительно в виде шутки и не ставит своей целью оскорбить кого либо. Вся информация представленная здесь не является реальной.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
</div>
</body>
</html>